.matdash-topnav {
  
}

.matdash-topnav__avatar-img {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.matdash-topnav__avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}